<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      	package="com.andreashedin.infowallpaper.lite"
      	android:versionCode="9"
      	android:versionName="1.06">
      	<uses-sdk android:minSdkVersion="7" />
      	<uses-feature android:name="android.software.live_wallpaper" />
		<application 
    			android:icon="@drawable/ic_launcher_wallpaper" 
    			android:label="@string/wallpaper">
        <service
        		android:name=".LiveInfoWallpaper_lite"
        		android:label="@string/wallpaper"
        		android:permission="android.permission.BIND_WALLPAPER">
	        	<intent-filter>
	                <action android:name="android.service.wallpaper.WallpaperService" />
	            </intent-filter>
        		<meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper" />
        </service>
        <activity 
        		android:name=".LiveInfoSettings_lite"
                android:label="@string/liveInfoSettings"
                android:exported="true">
        </activity>

    </application>
</manifest> 